.body {
    /* fallback for old browsers */
    background:grey;
    
     /* Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(to bottom right, rgb(175, 250, 100), rgb(232, 239, 180));
    
     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
     background: linear-gradient(to bottom right, rgb(171, 236, 92), rgb(197, 251, 50))  */
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }